html, body {
	height: 100%;
	padding: 0;
}
body {
	background-size: 550px;
}
body .coluna{
	min-height: 100%;
    padding: 0;
    display: initial;
}
.titulo {
	padding-top: 12px;
    text-align: center;
}
.editing-container {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: #dee2e6;	
}
.not-editing {
	padding: 0;
}
.removido { 
    color: gray; 
}
.removido label {
    text-decoration: line-through; 
} 
ul li { 
    list-style-type: none; 
}

.nav .nav-item .nav-link {
	color: #b6bdc3;
}
.nav .nav-item .nav-link.active{
	color: #007bff;
}
